version: '3.8'

services:
  mongo:
    image: mongo:latest
    container_name: mongo_container
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
  nqlbooster:
    image: mongo
    environment:
      - MONGO_URL=mongodb://mongo:27017/portability
    depends_on:
      - mongo
  app:
    image: mongo:latest
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017

  java_app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: java_app_container
    ports:
      - "8081:8080"
    depends_on:
      - mongo
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongo:27017/portability

volumes:
  mongo_data: